* {
    margin: 0;
    padding: 0;
    font-family: cursive, arial, sans-serif;
}

h1 {
    color: #3897c1;
    margin: 5px;
    font-size: 60px;
    text-align: center;
}

h3 {
    text-align: center;
    font-size: 40px;
    margin: auto;
}

.container {
    max-width: 800px;
    padding: 25px;
    border-radius: 10px;
    margin: 25px auto;
    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.3));
    box-sizing: border-box;
    cursor: url(../img/hammer.png) 35 30, auto;
    background: lightblue;
}

.container:active {
    cursor: url(../img/hammer-hit2.png) 35 30, auto;
}

.title {
    background: white;
    border-radius: 5px;
}

.container .main {
    max-width: 600px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}



.ground {
    width: 200px;
    height: 200px;
    position: relative;
    overflow: hidden;
}

.ground::after {
    content: '';
    display: block;
    width: 200px;
    height: 60px;
    background: url(../img/wall.png) bottom center no-repeat;
    filter: drop-shadow(1px 5px 5px rgba(0, 0, 0, 0.6));
    background-size: 80%;
    position: absolute;
    bottom: -10px;
    z-index: 2;
}

.bg {
    width: 100%;
    height: 20px;
    background-color: lightblue;
    position: absolute;
    bottom: 0;
    z-index: 1;
}

.miku {
    width: 100%;
    height: 100%;
    background-image: url(../img/miku_up.png);
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: 90%;
    position: absolute;
    top: 150px;
    transition: top .45s;
}

.ground.up .miku {
    top: 0;
}

.ground.down .miku {
    top: 150px;
}

.board {
    color: #2c7898;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.play {
    display: block;
    margin: 10px auto;
    border: none;
    background: #3897c1;
    color: white;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
    padding: 10px;
    border-radius: 5px;
    transition: .3s;
}

.play:hover {
    transform: translateY(-4px);
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
}

.notif-over {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: none;
    transition: .5s;
    justify-content: center;
    align-items: center;
}

.notif-over .close {
    position: absolute;
    top: -18px;
    right: -18px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    color: white;
    font-size: 20px;
    border-radius: 50%;
    background-color: #d53f3f;
    cursor: pointer;
    transition: .3s;
}

.notif-over .close:hover {
    background-color: #e75a5a;
    transform: scale(1.1);
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
}

.notif-over .card {
    position: absolute;
    padding: 15px;
    border-radius: 10px;
    background: #30dfcd;
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.5);
}

.notif-over .card .card-title h3 {
    width: 100%;
    padding: 15px 0;
    font-size: 30px;
    border-radius: 10px;
    color: white;
    background: #d53f3f;
}

.notif-over .card .card-body {
    width: 100%;
    padding: 15px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.notif-over .card .card-body h3 {
    font-size: 26px;
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.notif-over .card .card-body h3::before {
    content: 'Your Score : ';
}

.notif-over .card .card-body .image {
    width: 250px;
    height: 250px;
    margin: 15px;
    background: url('../img/miku_over.png') center no-repeat;
    background-size: contain;
}

.notif-over .card .card-body button {
    width: 150px;
    padding: 8px 15px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    background: white;
    transition: background-color .8s, .3s;
}

.notif-over .card .card-body button:hover {
    background-color: rgb(78, 78, 162);
    transform: translateY(-5px) scale(1);
    color: white;
    box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.5);
}

.notif-over .card .card-body button:active {
    background-color: rgb(78, 78, 162);
    transform: translateY(-8px) scale(0.95);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}
